{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>dappStart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link href="{% static 'css/base.css'%}" rel="stylesheet">
  
  <script src="{% static 'js/eosjs-api.js' %}"></script>
  <script src="{% static 'js/eosjs-jsonrpc.js' %}"></script>
  <script src="{% static 'js/eosjs-jssig.js' %}"></script>
  
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-web3.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-tron.min.js"></script>

  <script src="{% static 'js/base.js' %}"></script>

</head>
<body>

<nav class="navbar my-header is-dark">
  <div class="navbar-menu my-navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'home' %}">
        Home
      </a>
      <a class="navbar-item">
        Document
      </a>
      <a class="navbar-item">
        Contact
      </a>
    </div>
  </div>
  <h1 class="has-text-centered logo">
    <a href="{% url 'home' %}" class="title is-4 has-text-white nuxt-link-active">
      dappStart
    </a>
  </h1>
  <div class="navbar-end is-hidden-mobile">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-info">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light">
          Log in
        </a>
      </div>
    </div>
  </div>
</nav>
  
{% block content %}
{% endblock content %}

</body>
</html>
