{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<section class="hero is-info is-fullheight-with-navbar my-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-right">
          START YOUR DAPPS FROM HERE
      </h1>
      <p class="has-text-right">
        <a class="button is-medium" href="{% url 'project_list' %}">
          GET STARTED FOR FREE
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock content %}