{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="columns">
        <div class="column subtitle">
          Your project
        </div>
        <div class="column is-clearfix">
          <button class="button is-info is-pulled-right" id="createProjectModalOpenButton">Create project</button>
        </div>
      </div>

      <div class="box my-message-box hidden" id="message">
      </div>

      {% for project in object_list %}
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column is-4"><p class="title is-4">{{project.title}}</p></div>
        </div>
        <hr>
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="field">
              <button class="button is-info is-fullwidth" id="connectScatterButton">Connect scatter</button>
            </div>
          </div>
          <div class="column">
            <div class="columns is-multiline">
              <div class="column is-one-third">
                <div class="field">
                  <input class="input" type="text" placeholder="Payer" id="payerInput">
                </div>
              </div>
              <div class="column is-one-third">
                <div class="field">
                  <input class="input" type="text" placeholder="Receiver" id="receiverInput">
                </div>
              </div>
              <div class="column is-one-third">
                <div class="field has-addons has-addons-right">
                  <p class="control">
                    <input class="input" type="number" placeholder="Amount" id="amountInput">
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      EOS
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="field has-text-right">
              <button class="button is-info" id="buyRamButton">Buy ram</button>
            </div>
            <hr>
            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <div class="file is-centered">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume" id="setWasmInput">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">Wasm</span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="file is-centered">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume" id="setAbiInput">
                    <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">abi</span>
                      </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="field has-text-right">
              <button class="button is-info" id="deployContractButton">Deploy contract</button>
            </div>
            <hr>
            <div class="columns is-multiline">
              <div class="column">
                <div class="field">
                  <input class="input" type="text" placeholder="Contract name (ex. hi)" id="contractNameInput">
                </div>
              </div>
            </div>
            <div class="field has-text-right">
              <button class="button is-info" id="getYourContractButton">Get your contract</button>
            </div>
            <div class="columns is-multiline">
              <div class="column">
                <div class="field" id="contractDataContainer">

                </div>
              </div>
            </div>
            <div class="field has-text-right my-contract-button">
              <button class="button is-info" id="tryYourContractButton">Try your contract</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="column">
      <div class="box">
        <div class="subtitle is-9 has-text-centered">
          Create account
        </div>
        <hr>
        <div class="field">
          <label class="label">Chose net</label>
          <ul class="menu-list">
            <li><a>Eos mainnet</a></li>
            <li><a>Jungle testnet</a></li>
            <li><a class="is-active">Crypt Kylin testnet</a></li>
          </ul>
        </div>
        <hr>
        <div class="field">
          <label class="label">Create account</label>
          <div class="control">
            <input class="input" type="text" placeholder="Account name (12 char)" id="account_name">
          </div>
        </div>
        <button class="button is-info is-fullwidth" id="createAccountButton">Create account</button>
        <hr>
        <div class="field">
          <label class="label">Get faucet <br> (Enter your account, get 100 EOS)</label>
          <div class="control">
            <input class="input" type="text" placeholder="Account name (12 char)" id="accountForFaucet">
          </div>
        </div>
        <button class="button is-info is-fullwidth" id="getFaucetButton">Get faucet</button>
      </div>
    </div>
  </div>
  <div class="modal" id="createProjectModal">
    <div class="modal-background" id="modalBackground"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create new project</p>
        <button class="delete" aria-label="close" id="modalClose"></button>
      </header>
      <form action="/projects/new/" method="post">
        <section class="modal-card-body">
          {% csrf_token %}
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" name="title" maxlength="200" required="" id="id_title">
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-info" type="submit">Create</button>
      </footer>
      </form>
    </div>
  </div>
</div>

{% endblock content %}